@page "/chatroom"
@using ChatBot.Core.Constants;

<h1>ChatBot Room</h1>

@if (!string.IsNullOrWhiteSpace(_errorMessage))
{
    <div class="invalid-feedback">@_errorMessage</div>
    <small id="emailHelp" class="form-text text-muted">@_errorMessage</small>
}
else
{
    <div id="scrollbox">
        @foreach (var message in Messages.OrderByDescending(x => x.SendAt))
        {
            <div class="@message.ApplyCSS">
                <div class="user">@message.DisplayName <small>(@message.UserName)</small></div>
                <small>@message.SendAt.DateTime.ToShortDateString() - @message.SendAt.DateTime.ToShortTimeString()</small>
                <div class="msg">@message.Message</div>
            </div>
        }
        <br />
        <hr />
        <textarea class="input-lg" placeholder="enter your comment" @bind="@_newMessage"></textarea>
        <button class="btn btn-default" @onclick="@(async () => await SendMessage(_username, _userid, _displayName, _newMessage))">Send</button>
    </div>
}
